/*---------- FOR PC ----------*/
@media all and (max-width: 2000px) {
  .activity {
    width: 25%;
  }

  .top-wrapper {
    background-size: cover;
    background-image: url(https://github.com/hu86mats/NaokiKamiyaMusic/blob/main/top01.jpg?raw=true);
  }

}

/*---------- FOR TABLET ----------*/
@media all and (max-width: 1000px) {
  .activity {
    width: 50%;
    margin-bottom: 30px;
  }

  .top-wrapper {
    padding: 550px 0 100px 0;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

}

/*---------- FOR SMARTPHONE ----------*/
@media all and (max-width: 670px) {
  .activity {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .instagram {
    margin-top: 35px;
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    padding: 250px 0 100px 0;
 }

  .header-left {
    font-size: 25px;
    padding-top: 20px;
  }

  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
  
  .ani2 {
    font-size: 55px;
    margin: -7.5px 0;
  }

  .ani {
    text-align: left;
  }

  .top-wrapper {
    background-size: cover;
    background-image: url(https://github.com/hu86mats/NaokiKamiyaMusic/blob/main/top01sp.jpg?raw=true);
    max-width: 100%;
    height: auto;
  }

}
