/*---------- FOR PC ----------*/
@media all and (max-width: 2000px) {
  .activity {
    width: 25%;
  }
}

/*---------- FOR TABLET ----------*/
@media all and (max-width: 670px) {
  .activity {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .instagram {
    margin-top: 35px;
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    padding: 250px 0 100px 0;
 }

  .img {
    background-size: cover;
    background-position: center;
  }

  .header-left {
    font-size: 25px;
    padding-top: 20px;
  }

  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
  
  .ani2 {
    font-size: 55px;
    margin: -7.5px 0;
  }

  .ani {
    text-align: left;
  }

}
